div.parent
{
	margin-left: -7.515px;
}

div.horizontalNavigationbar
{
	padding-right: 40px;
	text-align: center;
	background-image: linear-gradient(to right, blue , green);
	width: 100%;
	height: 40px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	position: fixed;
	overflow: visible;
}

a.notunderlined
{
	color:white;
	text-decoration: none;
}

div.horizontalNavigationbar select 
{
	margin-right: 40px;
}

div.horizontalNavigationbar span 
{
	padding-left: 40px;
	padding-right: 40px;
	height: 30px;
	padding-top: 10px;
	overflow:visible;
}

div.horizontalNavigationbar span:hover
{
	background-color: silver;
	cursor: pointer;
}

.togglemenu
{
	display: none;
	min-height: 200px;
	padding: 12px 16px;
	z-index: 1;
	color: black;
}

.togglemenu div:hover 
{
	box-shadow: 1px 1px 1px 1px silver;
}

.menuRightFloaters:hover .togglemenu 
{
	display: block;
}
.menuLeftFloaters
{
	float: left;
	font-style: bold;
}

.menuRightFloaters
{
	float:right;
	font-style: bold;
}

.smallscreentoggleCommand
{
	width: 25px;
	height: 25px;
	position: fixed;
	left: 40px;
	top: 7px;
}

.smallscreentoggleCommand:hover
{
	cursor:pointer;
}

.smallscreenMenu:hover .showDiv
{
	visibility:visible;
}

.showDiv
{
	visibility:hidden;
	background-image: linear-gradient(to left, blue , green);
}



.smallscreenMenu div 
{
	margin: auto;
}

.smallscreenMenu
{
	top: 40px;
	position: fixed;
}

@media screen and (max-width: 668px)
{
	div.horizontalNavigationbar
	{
		display:inline-grid;
		columns-count: 2;
		grid-column-start:1;
		grid-column-end: 2;
		grid-template-columns: auto auto ;
		height: 70px;
		padding-bottom: 10px;
		clear:both;
	}
	#versatileElement
	{
		color: green;
		margin:auto;
		font-size: 14px;
	}
}

@media screen and (max-width: 400px)
{
	div.horizontalNavigationbar
	{
		display:inline-grid;
		columns-count: 1;
		rows-count: 4;
		grid-row-start:1;
		grid-row-end: 4;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
		height: 140px;
		font-size: 14px;
		clear:both;
	}
	
	#versatileElement
	{
		color: green;
		margin:auto;
		font-size: 14px;
		float: none;
	}
	
	#datesId
	{
		height: 20px;
		width: 120px;
	}
}
